In [6]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('tips.csv')
df.replace({'TRUE':1,'FALSE':0},inplace=True)
df.replace({'Win':1,'Lose':0},inplace=True)
df.replace({'Tipster A':1,'Tipster B':0},inplace=True)
df.head()

C:\Users\WIN11\AppData\Local\Temp\ipykernel_15336\1643075876.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Win':1,'Lose':0},inplace=True)

,UID,ID,Tipster,Date,Track,Horse,Bet Type,Odds,Result,TipsterActive
0,1,1,1,24/07/2015,Ascot,Fredricka,1,8.00,0,True
1,2,2,1,24/07/2015,Thirsk,Spend A Penny,1,4.50,0,True
2,3,3,1,24/07/2015,York,Straightothepoint,1,7.00,0,True
3,4,4,1,24/07/2015,Newmarket,Miss Inga Sock,1,5.00,0,True
4,5,5,1,25/07/2015,Ascot,Peril,1,4.33,1,True